doctype html
html(lang="en")
  head
    link(rel="stylesheet" href="/stylesheets/style.css" type="text/css")
    link(rel="stylesheet" href="/stylesheets/bootstrap.min.css" type="text/css")
  body(class='accueil')
    nav(class="navbar navbar-toggleable-md navbar-light bg-faded")
      a(class="navbar-brand" href="/recuperer") DataBank
      a(class="navbar-brand" href="/controler") DataProfile
      a(class="navbar-brand" href="/echanger") DataWallet
      a(class="navbar-brand" href="/data4good") Data4Good
      a(class="navbar-brand" href="https://visionspol.eu") Notre Projet
    div(class='center')
      h1 Bienvenue !
    p(class="center6") Nous voulons t'offrir contrôle sur tes données afin que toi et nous tous puissions en tirer de la valeur
    h1(class='center') Comment ça va se passer ?
    p(class="center6") D'abord on a un peu besoin de ton aide : tu peux récupérer tes données dans différents services, puis nous dire quelles conditions tu mets sur leur utilisation 
    p(class="center6") et finalement découvrir avec quelles entreprises et organisations tu peux les échanger et combien d'argent te sera reversé !


    a(href='/recuperer')
      img(class='database' src='/images/databank.png' href='/recuperer')
    a(href='/controler')
      img(class='user' src='/images/dataprofile.png' href='/controler')
    a(href='/echanger')
      img(class='datawallet2' src='/images/datawallet.png' href='/echanger')
    a(href='/data4good')
      img(class='charity' src='/images/Data4good.png' href='/data4good')