doctype html
html(lang="en")
  head
    link(rel="stylesheet" href="/stylesheets/style.css" type="text/css")
    link(rel="stylesheet" href="/stylesheets/bootstrap.min.css" type="text/css")
  body(class='accueil')
    nav(class="navbar navbar-toggleable-md navbar-light bg-faded")
      a(class="navbar-brand" href="/recuperer") DataBank
      a(class="navbar-brand" href="/controler") DataProfile
      a(class="navbar-brand" href="/echanger") DataWallet
      a(class="navbar-brand" href="/data4good") Data4Good
    h1 Bienvenue Visionnaire
    p Nous voulons t'offrir contrôle sur tes données afin que toi et nous tous puissions en tirer de la valeur
    h1 Comment ça va se passer ?
    p D'abord on a un peu besoin de ton aide : tu peux récupérer tes données dans différents services, puis nous dire quelles conditions tu mets sur leur utilisation 
    p et finalement découvrir avec quelles entreprises et organisations tu peux les échanger et combien d'argent te sera reversé !


    a(href='https://visions-mtths.c9users.io/recuperer')
      img(class='database' src='/images/database.png' href='https://visions-mtths.c9users.io/recuperer')
    a(href='https://visions-mtths.c9users.io/controler')
      img(class='user' src='/images/user.png' href='https://visions-mtths.c9users.io/controler')
    a(href='https://visions-mtths.c9users.io/echanger')
      img(class='datawallet2' src='/images/datawallet.png' href='https://visions-mtths.c9users.io/echanger')
    a(href='https://visions-mtths.c9users.io/data4good')
      img(class='charity' src='/images/charity.png' href='https://visions-mtths.c9users.io/data4good')