doctype html
html(lang="en")
  head
    link(rel="stylesheet" href="/stylesheets/style.css" type="text/css")
  body
    
    p= message
    p Renseignez un nouveau purpose pour un service :
    form(method="post", action ='/adminPurposeData')
      p Nom du service
      input(id="idUser", type="text", name="serviceName")
      p Nom de l'utilisation
      input(id="purposeName", type="text", name="purposeName")
      p Description
      input(id="explanation", type="text", name="explanation")
      p Revenu
      input(id="revenue", type="text", name="revenue")
      p Control
      input(id="control", type="text", name="control")
     
      input(type='submit', value = "GO!")