doctype html
html(lang="en")
  head
    link(rel="stylesheet" href="/stylesheets/style.css" type="text/css")
  body
    p Explorez à quelles données vous avez accès pour chaque traitement : 
    form(method="post", action ='https://visions-mtths.c9users.io/displayUserData')
      p Nom
        input(type="text", name="serviceName")
        input(type="text", name="purposeName")
        input(type='submit', value = "Données") 
    p Vos autorisations : 
    form(method="post", action ='https://visions-mtths.c9users.io/authorizations')
      p Nom
        input(type="text", name="serviceName")
        input(type='submit', value = "Autorisations") 
      
    p Demandez de nouvelles données à vos utilisateurs :
    form(method="post", action ='https://visions-mtths.c9users.io/adminEntreprise')
      p Nom
      input(id="idUser", type="text", name="name")
      p Donnée 1
      input(id="email", type="text", name="data")
      p Donnée 2
      input(id="email", type="text", name="data")
      p Donnée 3
      input(id="email", type="text", name="data")
      p Donnée 4
      input(id="email", type="text", name="data")
      p Donnée 5
      input(id="email", type="text", name="data")
      p Traitement 1
      input(id="email", type="text", name="purpose")
      p Traitement 2
      input(id="email", type="text", name="purpose")
      p Traitement 3
      input(id="email", type="text", name="purpose")
      p Traitement 4
      input(id="email", type="text", name="purpose")
      p Traitement 5
      input(id="email", type="text", name="purpose")
     
      input(type='submit', value = "GO!")