doctype html
html(lang="en")
  head
    link(rel="stylesheet" href="/stylesheets/style.css" type="text/css")
    link(rel="stylesheet" href="/stylesheets/bootstrap.min.css" type="text/css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  body(class="controler")
    script.
        var array = getCookie('idsArray')
        var array2 = array.replace(/%2C/g, ",")
        console.log(array2) 
        
        function getCookie(name) {
              var value = "; " + document.cookie;
              var parts = value.split("; " + name + "=");
              if (parts.length == 2) return parts.pop().split(";").shift();
            }
        
        
        function setAuthor(){
            var array = getCookie('idsArray')
            var array2 = array.replace(/%2C/g, ",")
            var stringArray = array2.split(",")
            console.log(stringArray)
            
            for(let i=0; i<stringArray.length; i++){
                console.log($('#16').attr("class"))
                $('#'+stringArray[i]).removeClass("buttonStyle").addClass('button-clicked')
                
            }
            
        }
        
        function authorize(purpose, data, id){
        
            if($('#'+id).attr("class") === "buttonStyle" || $('#'+id).attr("class") === "buttonStyle2" ){
            $('#'+id).removeClass("buttonStyle").addClass('button-clicked')

            $.post({
            url: 'https://visions-data.herokuapp.com/authorize',
            data:JSON.stringify({"purpose": purpose, "data" : data}),
            dataType:'json',
            contentType:'application/json',
            success(response){
             
            },
            error(jqXHR, status, errorThrown){console.log(jqXHR)}

          })}
          else {
              $('#'+id).removeClass("button-clicked").addClass("buttonStyle")

            $.post({
            url: 'https://visions-data.herokuapp.com/authorize',
            data:JSON.stringify({"purpose": purpose, "data" : data, "state" : "out"}),
            dataType:'json',
            contentType:'application/json',
            success(response){
             
            },
            error(jqXHR, status, errorThrown){console.log(jqXHR)}

          })
          }
          
          
        }
    nav(class="navbar navbar-toggleable-md navbar-light bg-faded")
      a(class="navbar-brand" href="/dataBank") DataBank
      a(class="navbar-brand" href="/controler") DataProfile
      a(class="navbar-brand" href="/echanger") DataWallet
      a(class="navbar-brand" href="/data4good") Data4Good
      a(class="navbar-brand" href="http://visionspol.eu/wp-content/uploads/2018/01/VISIONS-Livre-Blanc.pdf") Technologie
      a(class="navbar-brand" href="https://www.facebook.com/Visionspol/") Facebook
      a(class="navbar-brand" href="https://www.twitter.com/Visionspol/") Twitter

    h1 Contrôler vos données
    p(class="pTitle") Créez votre DataProfile 
    div(class="dataProfile")
        table(class="authorTable" id ='authorTable')
            tr(id='Purposes')
                th(id='idAgent') DataProfile
                th Personnalisation
                th Publicité
                th Recherche
                th Marketing
                th Revente
                
            tr(id='row'+(index1+1))
                td Personnel
                    td
                        button(id="1" class="buttonStyle2" onclick="authorize(0,0,1)" value="Personnel") Autoriser 
                    td
                        button(id="2" class="buttonStyle" onclick="authorize(3,0,2)" value="Personnel") Autoriser
                    td
                        button(id="3" class="buttonStyle" onclick="authorize(2,0,3)" value="Personnel") Autoriser
                    td
                        button(id="4" class="buttonStyle" onclick="authorize(1,0,4)" value="Personnel") Autoriser
                    td
                        button(id="5" class="buttonStyle" onclick="authorize(4,0,5)" value="Personnel") Autoriser
            tr(id='row'+(index1+1))
                td Professionnel
                    td
                        button(id="6" class="buttonStyle2" onclick="authorize(0,1,6)" value="Professionnel") Autoriser 
                    td
                        button(id="7" class="buttonStyle" onclick="authorize(3,1,7)" value="Professionnel") Autoriser
                    td
                        button(id="8" class="buttonStyle" onclick="authorize(2,1,8)" value="Professionnel") Autoriser
                    
                    td
                        button(id="9" class="buttonStyle" onclick="authorize(1,1,9)" value="Professionnel") Autoriser
                    td
                        button(id="10" class="buttonStyle" onclick="authorize(4,1,10)" value="Professionnel") Autoriser
            tr(id='row'+(index1+1))
                td Intime
                    td
                        button(id="11" class="buttonStyle2" onclick="authorize(0,2,11)" value="Intime") Autoriser 
                    td
                        button(id="12" class="buttonStyle" onclick="authorize(3,2,12)" value="Intime") Autoriser
                    td
                        button(id="13" class="buttonStyle" onclick="authorize(2,2,13)" value="Intime") Autoriser
                    td
                        button(id="14" class="buttonStyle" onclick="authorize(1,2,14)" value="Intime") Autoriser
                    td
                        button(id="15" class="buttonStyle" onclick="authorize(4,2,15)" value="Intime") Autoriser
    p(class='demand') Notre programme d'autorisation s'assure que vos conditions soient respectées par chaque service dans le réseau VISIONS.
    p(class='demand') Jollyclick est la première plateforme à nous rejoindre, aidez-nous à en convainvre d'autres !
    
    a(href="https://visions-data.herokuapp.com/jollyclick")
        img(class="img-circle" src="https://yt3.ggpht.com/a-/AK162_7dFPXdiBZapoLJyhI0N6XYzcklbDYyBtvmXw=s900-mo-c-c0xffffffff-rj-k-no")
    
    p(class='demand pClass') Dites nous pour quels services vous aimeriez avoir ce contrôle : 
        form(class='centerButton' method="post", action ='https://visions-data.herokuapp.com/askedServices')
            input(type='text' value=serviceName)
            input(type='submit' value="go!" name="GO!")
    script.
            var array = getCookie('idsArray')
            var array2 = array.replace(/%2C/g, ",")
            var stringArray = array2.split(",")
            console.log(stringArray)
            
            for(let i=0; i<stringArray.length; i++){
                console.log($('#16').attr("class"))
                $('#'+stringArray[i]).removeClass("buttonStyle").addClass('button-clicked')
                
            }