doctype html
html(lang="en")
  head
    link(rel="stylesheet" href="/stylesheets/style.css" type="text/css")
    link(rel="stylesheet" href="/stylesheets/bootstrap.min.css" type="text/css")


  body(class="create")
    div(class='createTitle')
      p Enregistrez-vous
      form(method="post", action ='/create')
        p username
        input(class='centerButton pClass' id="idUser", type="text", name="idUser")
        p mail
        input(class='centerButton pClass' id="email", type="text", name="email")
        p password
        input(class='centerButton pClass' id="password", type="password", name="password")
        p
        input(type='submit', value = "GO!")
        p= message