doctype html
html(lang="en")
  head
    link(rel="stylesheet" href="/stylesheets/style.css" type="text/css")
    link(rel="stylesheet" href="/stylesheets/bootstrap.min.css" type="text/css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")


  body(class="create")
    script.
      function checkUser() {
        let username = document.getElementById('idUser').value
        
        
        
         $.post({
            url: 'https://visions-data.herokuapp.com/checkUser',
            data:JSON.stringify({"userID": username}),
            dataType:'json',
            contentType:'application/json',
            success(response){
            if(response == false){
               $.post({
            url: 'https://visions-data.herokuapp.com/create',
            data:JSON.stringify({"idUser": document.getElementById("idUser").value, "email" : document.getElementById("email").value, "password" : document.getElementById("password").value}),
            dataType:'json',
            contentType:'application/json',
            success(response){
              console.log(response) 
            },
            error(jqXHR, status, errorThrown){console.log(jqXHR)}

                })
            


            }},
            else 
              {document.getElementById('UserError').innerHTML = 'Username already taken!'}

        
            
            },
            error(jqXHR, status, errorThrown){console.log(jqXHR)}

          })
        
            }
        function checkMail() {
        let email = document.getElementById('email').value
        
        
         $.post({
            url: 'https://visions-data.herokuapp.com/checkMail',
            data:JSON.stringify({"email": email}),
            dataType:'json',
            contentType:'application/json',
            success(response){
            if(response == true){
              document.getElementById('MailError').innerHTML = 'Email already taken!'
              return false
            }
            else {
            console.log('true')
            return true}
            },
            error(jqXHR, status, errorThrown){console.log(jqXHR)}

          })
        
            }
    div(class='createTitle')
      p Enregistrez-vous
      form(method="post", action ='/create', onsubmit="event.preventDefault(); checkUser();")
        p username
        input(class='centerButton pClass' id="idUser", type="text", name="idUser")
        p(id='UserError')
        p mail
        input(class='centerButton pClass' id="email", type="email", name="email")
        p password
        input(class='centerButton pClass' id="password", type="password", name="password")
        p
        input(type='submit', value = "GO!")
        p= message