doctype html
html(lang="en")
  head
    link(rel="stylesheet" href="/stylesheets/style.css" type="text/css")

  body
    h1 #{dataName}
    Voici les différentes causes qui pourraient bénéficier de cette donnée, cliquez pour en savoir plus :
    form(action='/cause', method='post')
      input(type='hidden', name='userID', value = userID) 
      each val in causes
        input(type='submit', name='cause', value=val) 
