doctype html
html(lang="en")
  head
    link(rel="stylesheet" href="/stylesheets/style.css" type="text/css") 
  body
    p Voici les données que vos utilisateurs ont pour #{purposeName}
    p= userID
    p= data