doctype html
html(lang="en")
  head
    link(rel="stylesheet" href="/stylesheets/style.css" type="text/css")
    link(rel="stylesheet" href="/stylesheets/bootstrap.min.css" type="text/css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")


    body(class="echanger")
        script.
          let service1 = null
          let service2 = null
          let service3 = null
          function pay(sum, service) {

            
            if (service1==null && service == "service1" || service2==null && service == "service2" || service3==null && service == "service3"){
            if(service=="service1"){ service1="Meetic"}
            if(service=="service2"){service2="Instagram"}
            if(service=="service3"){service3="Laboratoire"}
            var total = parseFloat(document.getElementById("wallet").value) + (sum/100)
            document.getElementById("wallet").value = total
            document.getElementById("walletText").innerHTML = total+"€"
            
             $.post({
            url: 'https://visions-2-mtths.c9users.io/pay',
            data:JSON.stringify({sum : sum, service : service}),
            dataType:'json',
            contentType:'application/json',
            success(response){
             console.log(response)
            },
            error(jqXHR, status, errorThrown){console.log(jqXHR)}

          })}
          }
        nav(class="navbar navbar-toggleable-md navbar-light bg-faded")
          a(class="navbar-brand" href="/recuperer") DataBank
          a(class="navbar-brand" href="/controler") DataProfile
          a(class="navbar-brand" href="/echanger") DataWallet
          a(class="navbar-brand" href="/data4good") Data4Good
        h1 Echangez & Revendez
        div(class='dataWallet')
          img(class = 'pictoWallet' src='/images/datawallet.png')
          input(id="wallet" type="hidden" value = wallet)
          p(id="walletText" class="money") #{wallet} € 
        h1(class='brandText center4') Voici les services qui souhaitent utiliser vos donnnées : 
        
        div(class='center')
          img(class="img-circle" src="https://lh3.googleusercontent.com/wzRmvVkGHIcesj89tTVyAfmrWXyChlsxDznUpWX__aoTTZup6zvvKKAkzfi6Yexz6lA=w300")
          p(class='brandText') Meetic souhaite acheter vos données pour des études marketing
          if payed1
            p(class='brandText') Vous avez déjà échangé ces données
          else
            p(class='brandText') Gain : 0,40 €
            button(class='brandButton buttonStyle' onclick='pay(40, "service1")') Echanger
            p
            p
            
          img(class="img-circle" src="https://instagram-brand.com/wp-content/themes/ig-branding/assets/images/ig-logo-email.png")
          p(class='brandText') Instagram souhaite acheter vos données à des fins publicitaires (publicité ciblée)
          if payed2
            p(class='brandText') Vous avez déjà échangé ces données
          else
            p(class='brandText') Gain : 0,60 €
            button(class='brandButton buttonStyle' onclick='pay(60, "service2")') Echanger
            p
            p            
         
          img(class="img-circle" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/LIP6.gif/225px-LIP6.gif")
          p(class='brandText') Le laboratoire de Paris 6 afin d'entraîner des systèmes d'intelligence artificielle
          if payed3
            p(class='brandText') Vous avez déjà échangé ces données
          else
            p(class='brandText') Gain : 0,20 €
            button(class='brandButton buttonStyle' onclick='pay(20, "service3")') Echanger
        p(class='center') Nous nous assurons que vos données sont uniquement utilisées à ces fins grâce à notre programme d'autorisation.
        p(class='center') Revenez bientôt pour de nouvelles propositions et pour pouvoir faire de nouveaux dons !
            
          