doctype html
html(lang="fr")
  head
    link(rel="stylesheet" href="/stylesheets/style.css" type="text/css") 
  body
    h1 Bienvenue Visionnaire
    p Nous voulons t'offrir contrôle sur tes données afin que toi et nous tous puissions en tirer de la valeur
    h1 Comment ça va se passer ?
    p D'abord on a un peu besoin de ton aide : tu vas nous dire comment tu souhaiterais que tes données soient utilisées, tu vas pouvoir explorer ce que différents services font de tes données, nous dire combien tu penses qu'elle valent, voir combien cela pourrait te rapporter,
    p le plus important étant : tu vas pouvoir utiliser la puissance et ressource que sont tes données pour aider des causes qui te sont chères !
 
    form(method="get", action ='https://visions-mtths.c9users.io/userPreferences')
      input(type='hidden', name='userID', value= userID)
      input(type='submit', value = "C'est parti !")
