doctype html
html(lang="fr")
  head
    link(rel="stylesheet" href="/stylesheets/style.css" type="text/css")
  body(class='body')
    div(class="home")
      p(class='homeTitle') La confiance & la liberté
      form(class='homeTitle', method="get", action ='https://visions-mtths.c9users.io/create')
        input(type='submit', value = "Créez")
      form(class='homeTitle', method="get", action ='https://visions-mtths.c9users.io/login')
        input(type='submit', value = "Log")