doctype html
html(lang="en")
  head
    link(rel="stylesheet" href="/stylesheets/style.css" type="text/css")
  body
    div(class='homeTitle')
      p Enregistrez-vous
      form(method="post", action ='https://visions-mtths.c9users.io/register')
        input(id="userID", type="text", name="userID")
        input(id="password", type="password", name="password")
        input(type='submit', value = "Enregistrez")
      p= message
    
    