doctype html
html(lang="en")
  head

  body
    h1 Contrôlez vos données

    table(id ='authorTable')
      tr(id='Purposes')
        th(id='idAgent')= serviceName
        each val3, index3 in PurposeNamesArray
          th(id= index3)= val3
        
      each val1, index1 in DataNamesArray
        tr(id='row'+(index1+1))
          td(id='dataType'+(index+1))= val1
          each val2, index2 in PurposeNamesArray
            td 
              form(method="post", action ='/setAuthor')
                input(type='hidden', name='userID', value = userID)
                input(type='hidden', name='serviceName', value = serviceName)
                button(class = 'b', value= {data : val1, purpose : val2}, name = 'authorization') Autoriser
  head
    link(rel="stylesheet" href="/stylesheets/style.css" type="text/css")
              
          
        
    