doctype html
html(lang="fr")
  head
    link(rel="stylesheet" href="/stylesheets/style.css" type="text/css")
  body
    p Pour chaque donnée, dit nous ce que en général tu autoriserais comme utilisation à une entreprise, ça va nous permettre de convaincre les entreprises de te donner ce contrôle.
    select(id="select1" size="1")
        option(value="valeur3", name ="Personnalisation du service") Personnalisation du service
        option(value="valeur1", name ="Publicité ciblée") Publicité ciblée 
        option(value="valeur2", name ="Revente à des tiers") Revente à des tiers
        option(value="valeur3", name ="Etudes marketing") Etudes marketing


    select(id="select2" size="1")
        option(value="valeur3", name ="Personnalisation du service") Personnalisation du service
        option(value="valeur1", name ="Publicité ciblée") Publicité ciblée 
        option(value="valeur2", name ="Revente à des tiers") Revente à des tiers
        option(value="valeur3", name ="Etudes marketing") Etudes marketing
    button(type='submit', id='button', value = "C'est parti !")
    
    form(method="post", action ='/userPreferences')
        input(type='checkbox', name='publicite1')
        input(type='checkbox', name='recherche1')
        input(type='checkbox', name='marketing1')
        input(type='checkbox', name='personnalisation1')
        input(type='checkbox', name='echange1')

        input(type='checkbox', name='publicite2')
        input(type='checkbox', name='recherche2')
        input(type='checkbox', name='marketing2')
        input(type='checkbox', name='personnalisation2')
        input(type='checkbox', name='echange2')


        input(type='checkbox', name='publicite3')
        input(type='checkbox', name='recherche3')
        input(type='checkbox', name='marketing3')
        input(type='checkbox', name='personnalisation3')
        input(type='checkbox', name='echange3')
        
        input(type='hidden', name='userID', value= userID)
        input(type='submit', name='')
        

  
    
    
   
    
            
            
